:root{

    // TEXT COLOR
    --primary-color : #ffd700;
    --secondary-color : #fff;
    --black-color : #333; 
    
    // BG COLOR
    --primary-bg-color : #181818;
    --secondary-bg-color : #022c43;
    --third-bg-color: #115173;
    --yellow-bg-color: #ffd700;
    
    // FONT FAMILY
    --title-font-family : "Coolvetica";
    --text-font-family : "La Belle Aurore";
    
    // FONT SIZE
    --h1-font-size: 46px;
    --h2-font-size: 34px;
    --h3-font-size: 22px;
    --h4-font-size: 20px;
    --h5-font-size: 18px;
    --h6-font-size: 16px;
    --text-font-size: 14px;

    // FONT STYLE 
    --font-bold: 700;
    --font-semi-bold:400;

    // BORDER 
    --border-rounded:20px;
}
    
